<style>
hr{
        border-style: dotted none  none;
        width: ='5%';
    }
    h1,h3{
        color: #66bfbf;
    }
.info{
    font-size:large;
    color:mediumpurple;
}
body{
    background-color: rgb(225, 243, 233);
}
#Pic:hover{
    background-color: rgb(74, 75, 74);
}
.mountain{
    position: absolute;
    top:300px;
    left:500px ;
}
.mountain2{
    position: absolute;
    left: 600px;
    top: 100px;
}
.cloud{
    position: absolute;
    left:1100px;
    top: 20px;
}
</style>